[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywavelets = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
pandas = "*"
opencv-python = "*"
scikit-learn = "*"
tqdm = "*"
keras = "==2.2.4"
tensorflow = "==1.14.0"
mpmath = "*"
tensorflow-probability = "==0.7.0"
jupyter = "*"
pywin32 = "==225"
plotly = "*"
psutil = "*"
requests = "*"
plotly-orca = "*"
xgboost = "*"

[dev-packages]
rope = "*"
